## COPY THIS FILE TO .env AND FILL IN MISSING ENV VARS ##
## PRIVATE - SHARED BETWEEN DEV AND PROD - PERSONAL OVERRIDES FOR DEV AND PROD ##

TOKEN_LIST_API=https://token-list-api.solana.cloud

WALLET_ADDRESS=
WALLET_PRIVATE_KEY=
