## COPY THIS FILE TO .env AND FILL IN MISSING ENV VARS ##
## PRIVATE - SHARED BETWEEN DEV AND PROD - PERSONAL OVERRIDES FOR DEV AND PROD ##

COMPUTE_LIMIT_MARGIN=10 # 10%

HELIUS_API_KEY=

LOG_BREAK_LEN=40
LOG_COLOR=true
LOG_DEPTH=3
LOG_LEVEL=debug
LOG_TIMESTAMP=false

NODE_OPTIONS=--enable-source-maps

PRIORITY_LEVEL_DEFAULT=medium     # min, low, medium, high, veryHigh, unsafeMax
PRIORITY_FEE_MIN_LAMPORTS=10000   # 0.00001 SOL
PRIORITY_FEE_MAX_LAMPORTS=1000000 # 0.001 SOL

SLIPPAGE_DEFAULT=1 # 1%

TOKEN_LIST_API=https://token-list-api.solana.cloud/v1/search
TOKEN_PRICE_API=https://api.coingecko.com/api/v3/simple/token_price/solana

WALLET_ADDRESS=
WALLET_PRIVATE_KEY=
